body, button {
    font-family: "Raleway", sans-serif;
}

body {
    margin: 0px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

body>header {
    margin: 10px 0px;
}

body>header>h1 {
    margin: 0px;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    letter-spacing: 1px;
}

body>footer {
    margin: 10px 0px 20px 0px;
    text-align: center;
}

body>footer>a {
    text-decoration: none;
    color: black;
    letter-spacing: 1px;
}

body>main {
    flex: 1;
    padding: 25px min(100px, 5%);

}

.card-container {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 400px));
    grid-auto-rows: max-content;
    gap: 25px;
}

button.add-book {
    height: 2rem;
    padding: 0px 30px;
    background: transparent;
    border: none;
    border-radius: 5px;
    outline: 1px solid grey;
    cursor: pointer;
}

button.add-book:hover {
    outline: 2px solid rgba(0, 0, 0, 0.5);
}

button.add-book:active {
    outline: none;
    color: gray;
    background-color: whitesmoke;
}

dialog.add-book {
    padding: 30px 30px;
    position: relative;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 2px 5px 1px silver;
}

dialog.add-book::backdrop {
    background-color: white;
    opacity: 50%;
}

dialog.add-book button.close {
    position: absolute;
    top: 10px;
    right: 10px;
    color: grey;
    background: transparent;
    border: none;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
}

form.add-book label {
    display: block;
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 5px;
}

form.add-book button {
    margin-top: 15px;
    width: 100%;
    padding: 10px 0px;
    background: transparent;
    font-weight: bold;
    border: 2px solid black;
    border-radius: 10px;
    cursor: pointer;
}

form.add-book button:hover {
    background-color: whitesmoke;
}

form.add-book button:active {
    border-color: grey;
    color: grey;
}

form.add-book input {
    padding: 7px 7px;
    border: 1px solid silver;
    border-radius: 5px;
    font-size: 1rem;
}

form.add-book input:focus {
    outline: none;
    box-shadow: inset 0px 0px 5px 0px silver;
}

.card {
    position: relative;
    border-radius: 20px;
    box-shadow: 0px 2px 5px 1px silver;
    text-align: center;
    padding: 25px 30px;
    display: flex;
    flex-direction: column;
}

.book-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0px;
}

.card>p:not(.book-read) {
    margin: 5px;
}

.card>p.book-pages {
    margin-bottom: 20px;
}

.book-read {
    margin-top: auto;

}

.book-read>button {
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    font-weight: bold;
    background-color: transparent;
    border: 4px solid lightseagreen;
    color: lightseagreen;
    border-radius: 25px;
    outline: none;
}

.book-read>button:hover {
    border-color: rgb(22, 120, 113);
    color: rgb(22, 120, 113);
}

.book-read>button:active {
    box-shadow: inset 2px 1px 4px 1px silver;
}

button.unread {
    border: 4px solid lightcoral;
    color: lightcoral;
}

button.unread:hover {
    border-color: rgb(154, 86, 86);
    color: rgb(154, 86, 86);
}

.remove {
    position: absolute;
    right: 5px;
    top: 12px;
    padding: 0px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.remove svg {
    width: 30px;
    height: auto;
}

.remove path {
    fill: crimson;
    stroke: crimson;
    stroke-width: 1px;
}