body {
    margin: 0px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

body > header {
    margin: 10px 0px;
}

body > header > h1 {
    margin: 0px;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    font-variant: small-caps;
    letter-spacing: 1px;
}

body > footer {
    margin: 10px 0px 20px 0px;
    text-align: center;
}

body > footer > a {
    text-decoration: none;
    color: black;
    letter-spacing: 1px;
}

body > main {
    flex: 1;
}