body {
    margin: 0px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

body>header {
    margin: 10px 0px;
}

body>header>h1 {
    margin: 0px;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    font-variant: small-caps;
    letter-spacing: 1px;
}

body>footer {
    margin: 10px 0px 20px 0px;
    text-align: center;
}

body>footer>a {
    text-decoration: none;
    color: black;
    letter-spacing: 1px;
}

body>main {
    flex: 1;
    padding: 25px min(100px, 5%);

}

.card-container {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 300px));
    grid-auto-rows: max-content;
    gap: 10px;
}

.add-book button {
    height: 2rem;
    padding: 0px 30px;
    background: transparent;
    border: none;
    border-radius: 5px;
    outline: 1px solid grey;
    cursor: pointer;
}

.add-book button:hover {
    outline: 2px solid rgba(0, 0, 0, 0.5);
}

.add-book button:active {
    outline: none;
    color: gray;
    background-color: whitesmoke;
}

.card {
    position: relative;
    border: 2px solid black;
    text-align: center;
    padding: 10px 20px;
}

.book-title {
    font-variant: small-caps;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0px;
}

.book-info>p:not(.book-read) {
    margin: 5px;
}

.book-read>button {
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    font-weight: bold;
}

.delete {
    position: absolute;
    right: 5px;
    top: 12px;
    padding: 0px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.delete svg {
    width: 25px;
    height: auto;
}

.delete path {
    fill: rgb(225, 0, 0);
}